{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AK 1</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    {% comment %} <link rel="stylesheet" href="index.css" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <div class="main-container">
      <div class="ecommerce-navbar">
        {% block menu %}
        {% include 'menu.html' %} 
        {% endblock %}
      </div>
      {% for s in slider %}
      <span class="our-products">{{ s.title }}</span>
      {% endfor %}
      <div class="flex-row">
        <div class="group"></div>
        <div class="group-2"></div>
        <div class="group-3"></div>
      </div>
      <div class="flex-row-c">
        <span class="orcad-x-capture">OrCAD X Capture</span
        ><span class="orcad-x-capture-4">OrCAD X Capture</span
        ><span class="orcad-x-capture-5">OrCAD X Capture</span>
      </div>
      <div class="flex-row-ca">
        <span class="orcad-capture-schematic"
          >OrCAD Capture schematic entry tool for circuit diagrams is one of the
          world's most widely used software for entering and documenting
          electrical circuits. </span
        ><span class="orcad-capture-schematic-6"
          >OrCAD Capture schematic entry tool for circuit diagrams is one of the
          world's most widely used software for entering and documenting
          electrical circuits. </span
        ><span class="orcad-capture-schematic-7"
          >OrCAD Capture schematic entry tool for circuit diagrams is one of the
          world's most widely used software for entering and documenting
          electrical circuits.
        </span>
      </div>
      <div class="flex-row-f">
        <div class="group-8"></div>
        <div class="group-9"></div>
        <div class="group-a"></div>
      </div>
      <div class="flex-row-a">
        <span class="orcad-x-capture-b">OrCAD X Capture</span
        ><span class="orcad-x-capture-c">OrCAD X Capture</span
        ><span class="orcad-x-capture-d">OrCAD X Capture</span>
      </div>
      <div class="flex-row-b">
        <span class="orcad-capture-schematic-entry"
          >OrCAD Capture schematic entry tool for circuit diagrams is one of the
          world's most widely used software for entering and documenting
          electrical circuits. </span
        ><span class="orcad-capture-schematic-entry-e"
          >OrCAD Capture schematic entry tool for circuit diagrams is one of the
          world's most widely used software for entering and documenting
          electrical circuits. </span
        ><span class="orcad-capture-schematic-entry-f"
          >OrCAD Capture schematic entry tool for circuit diagrams is one of the
          world's most widely used software for entering and documenting
          electrical circuits.
        </span>
      </div>
      <button class="learn-more-button-10">
        <span class="load-more-11">Load more</span>
        <div class="vector-12"></div>
      </button>
      <div class="flex-row-13">
        <div class="image"></div>
        <div class="image-14"></div>
      </div>
      <div class="frame-15"></div>
      <div class="image-16"></div>
      <div class="frame-17">
        <div class="flex-row-d">
          <div class="logoswe-18"></div>
          <span class="andak-consulting">Andak Consulting</span
          ><span class="quick-links">Quick Links</span
          ><span class="products">Products</span>
        </div>
        <div class="flex-row-dd">
          <span class="digital">Digital</span
          ><span class="physical">Physical</span
          ><span class="home-services-products"
            >Home<br />Services<br />Products<br />Contact Us</span
          >
        </div>
        <span class="focus-on-hardware"
          >With a focus on hardware engineering, CAD, library services,
          simulation and software, Andak Consulting is a dynamic company,
          established in 2018 as a spin-off entity.</span
        >
        <div class="flex-row-dcb">
          <div class="orcad-x-capture-product">
            <span class="orcad-x-capture-product-19"
              >OrCAD X Capture<br />Product 2<br /></span
            ><span class="product"
              >Product 2<br />Product 2<br />Product 2<br />Product 2<br />Product
              2</span
            >
          </div>
          <div class="orcad-x-capture-product-1a">
            <span class="orcad-x-capture-product-1b"
              >OrCAD X Capture<br />Product 2<br /></span
            ><span class="product-1c"
              >Product 2<br />Product 2<br />Product 2<br />Product 2<br />Product
              2</span
            >
          </div>
          <div class="linkedin-svgrepo-com">
            <div class="xmlid">
              <div class="xmlid-1d"></div>
              <div class="flex-row-c-1e">
                <div class="xmlid-1f"></div>
                <div class="xmlid-20"></div>
              </div>
            </div>
          </div>
          <span class="contact-info"
            >Phone: +40299219420<br />Email: xxxx@andak.com</span
          >
        </div>
        <span class="contact-us">Contact Us</span>
      </div>
    </div>
  </body>
</html>
