{% extends 'base.html' %}
{% block stylesheet %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/swprodpage.css' %}" />
{% endblock %}
{% block content %}
  <div class="flex-row-c">
    <span class="orcad-x-capture">OrCAD X Capture</span>
    <div class="prev"></div>
    <span class="sku-pox">SKU: POX050</span>
  </div>
  <div class="flex-row">
    <span class="digital-products-2">Digital Products</span>
    <div class="rectangle-3"></div>
    <span class="orcad-x-capture-includes">OrCAD X Capture includes:</span><span class="live-bom-design-variants">
      Live BOM<br />
      Design Variants<br />
      Flat and Hierarchical Design<br />
      Unified Search<br />
      Integration with PSpice<br />
      Integrations with SnapMagic <br />(SnapEDA), SymacSys, Ultra Librarian and OMNYA<br />
      Tcl/Tk scripting support for extensive customization and automation
    </span>
    <div class="vector-4"></div>
    <span class="orcad-x-capture-5">OrCAD X Capture</span>
    <div class="vector-6"></div>
    <span class="orcad-x-professional-plus">OrCAD X Professional Plus</span>
    <div class="vector-7"></div>
    <div class="vector-8"></div>
    <span class="orcad-x-standard">OrCAD X Standard</span>
    <div class="vector-9"></div>
    <span class="product">Product</span>
    <div class="vector-a"></div>
    <span class="product-b">Product</span><span class="product-c">Product</span>
    <div class="vector-d"></div>
    <span class="physical-products">Physical Products</span><span class="product-e">Product</span><span class="product-f">Product</span>
  </div>
  <span class="product-10">Product</span>
  <div class="flex-row-d">
    <span class="product-11">Product</span><span class="orcad-capture-schematic">OrCAD Capture schematic entry tool for circuit diagrams is one of the world's most widely used software for entering and documenting electrical circuits. It is outstanding how simple and intuitive the design intentions are captured. OrCAD Capture uses flat or hierarchical circuit diagrams. Via the navigation window the different pages of the circuit diagram can be selected and thematically managed.</span><span class="product-12">Product</span><span class="product-13">Product</span>
  </div>
{% endblock %}
