<div class="frame-17">
  <div class="flex-row-dfoot">
    <div class="logoswe-18"></div>
    <span class="andak-consulting">{{ footer.name }}</span><span class="quick-links">Quick Links</span><span class="products">Products</span>
  </div>
  <div class="flex-row-dd">
    <span class="digital">Digital</span><span class="physical">Physical</span><span class="home-services-products">Home<br />Services<br />Products<br />Contact Us</span>
  </div>
  <span class="focus-on-hardware">{{ footer.description }}</span>
  <div class="flex-row-dcb">
    <div class="orcad-x-capture-product">
      <span class="orcad-x-capture-product-19">OrCAD X Capture<br />Product 2<br />Product 2<br />Product 2<br />Product 2<br />Product 2<br />Product 2</span>
    </div>
    <div class="orcad-x-capture-product-1a">
      <span class="orcad-x-capture-product-1b">OrCAD X Capture<br />Product 2<br /></span><span class="product-1c">Product 2
        <br />Product 2<br />Product 2<br />Product 2<br />Product2
      </span>
    </div>
    <div class="linkedin-svgrepo-com">
      <div class="xmlid">
        <div class="xmlid-1d"></div>
        <div class="flex-row-c-1e">
          <div class="xmlid-1f"></div>
          <div class="xmlid-20"></div>
        </div>
      </div>
    </div>
    <span class="contact-info">Phone: {{ footer.phone }}<br />Email: {{ footer.email }}</span>
  </div>
  <span class="contact-us">Contact Us</span>
</div>
