{% load static %}
<section class="companyOverviewSection" style="--src:url({% static 'assets/e87778dcd95ed8812393b5b7ee44ffde.png' %})">
  <div class="flexRow1">
    <div class="flexColumn1">
      <div class="flexRowImageTitle">
        <img class="companyImage" src="{% static 'assets/ac57dbddce89be7220d5c31b05ca2bf2.png' %}" alt="alt text" />
        <h2 class="companyTitle">{{ footer.name }}</h2>
      </div>
      <p class="companyDescription">{{ footer.description }}</p>
      <h3 class="contactUsTitle">Contact Us</h3>
      <div class="flexRowContactInfo">
        <p class="phoneInfo">
          Phone: {{ footer.phone }}
          <br />
          Email: {{ footer.email }}
        </p>
        <img class="contactImage1" src="{% static 'assets/1b5bb941e7ae60265e02eeccb9bd355f.svg' %}" alt="alt text" />
      </div>
    </div>
    <div class="flexColumnQuickLinks">
      <h2 class="quickLinksTitle">Quick Links</h2>
      <p class="quickLinkHome">
        Home
        <br />
        Services
        <br />
        Products
        <br />
        Contact Us
      </p>
    </div>
    <div class="flexColumnProducts">
      <h2 class="productsTitle">Products</h2>
      <div class="flexRowProducts">
        <div class="flexColumnDigital">
          <h3 class="digitalProductsTitle">Digital</h3>
          <p class="digitalProductsList_box">
            <span class="digitalProductsList">
              <span class="digitalProductsList_span0">
                OrCAD X Capture
                <br />
                Product 2
                <br />
              </span>
              <span class="digitalProductsList_span1">
                Product 2
                <br />
                Product 2
                <br />
                Product 2
                <br />
                Product 2
                <br />
                Product 2
              </span>
            </span>
          </p>
        </div>
        <div class="flexColumnPhysical">
          <h3 class="physicalProductsTitle">Physical</h3>
          <p class="physicalProductsList_box">
            <span class="physicalProductsList">
              <span class="physicalProductsList_span0">
                OrCAD X Capture
                <br />
                Product 2
                <br />
              </span>
              <span class="physicalProductsList_span1">
                Product 2
                <br />
                Product 2
                <br />
                Product 2
                <br />
                Product 2
                <br />
                Product 2
              </span>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>