<div class="ecommerce-navbar">
  <div class="header">
    <div class="rectangle"></div>
    <div class="search-icon">
      <div class="vector"></div>
    </div>
    <div class="nav-menus">
      <span class="home"><a href="/">Home</a></span>
      <span class="services"><a href="/productpage.html">Services</a></span>
      <span class="software-products"><a href="/productpage.html">Software Products</a></span>
      <span class="digital-products"><a href="/productpage.html">Digital Products</a></span>
    </div>
  </div>
  <div class="logoswe"></div>
  <button class="learn-more-button">
    <span class="load-more">Contact us</span>
    <div class="vector-1"></div>
  </button>
  <div class="frame"></div>
</div>
