:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1512px;
  height: 3586px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.ecommerce-navbar {
  position: relative;
  width: 1440px;
  height: 100px;
  margin: 0 0 0 36px;
  background: #ffffff;
  z-index: 2;
  overflow: hidden;
}
.header {
  position: absolute;
  width: 1440px;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 3;
}
.rectangle {
  position: absolute;
  width: 1440px;
  height: 100px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 4;
}
.search-icon {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 36px;
  left: 1305px;
  z-index: 5;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 17.893px;
  height: 20.431px;
  margin: 3px 0 0 4px;
  background: url(/static/img/4dcee79c-7fee-4411-8b3f-1716561de384.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.nav-menus {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  position: absolute;
  width: 503px;
  height: 24px;
  top: 37px;
  left: 407px;
  z-index: 7;
}
.home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
a:hover {
  color: #212b36 !important;
}
.home a {
  /* pointer-events: none; /* Prevent clicking on the link */
  text-decoration: none; /* Remove any underline */
  color: inherit; /* Inherit color from parent */
}
.services {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #c6c6c6;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.services a {
  /* pointer-events: none; /* Prevent clicking on the link */
  text-decoration: none; /* Remove any underline */
  color: inherit; /* Inherit color from parent */
}
.software-products {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #c6c6c6;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.software-products a {
  /* pointer-events: none; /* Prevent clicking on the link */
  text-decoration: none; /* Remove any underline */
  color: inherit; /* Inherit color from parent */
}
.digital-products {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #c6c6c6;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.digital-products a {
  /* pointer-events: none; /* Prevent clicking on the link */
  text-decoration: none; /* Remove any underline */
  color: inherit; /* Inherit color from parent */
}
.logoswe {
  position: absolute;
  width: 55px;
  height: 49px;
  top: 25px;
  left: 120px;
  background: url(/static/img/d88abea443edcbdb1100babf18113dee16353655.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.learn-more-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6px;
  position: absolute;
  width: 158px;
  height: 41px;
  top: 29px;
  left: 935px;
  padding: 21px 24px 21px 24px;
  cursor: pointer;
  background: #1d6271;
  border: none;
  z-index: 13;
  overflow: hidden;
  border-radius: 13px;
}
.load-more {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 12px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.vector-1 {
  flex-shrink: 0;
  position: relative;
  width: 20.104px;
  height: 12.101px;
  background: url(/static/img/5c260a61-24cd-4fb5-a345-bfc3c18d8ef1.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.frame {
  position: absolute;
  width: 79px;
  height: 30px;
  top: 37px;
  left: 840px;
  background: #1d6271;
  z-index: 1;
  overflow: hidden;
  border-radius: 7px;
}
.our-products {
  display: block;
  position: relative;
  height: 45px;
  margin: 870px 0 0 600px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1302.265px;
  height: 300.583px;
  margin: 60px 0 0 105px;
  z-index: 36;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 408.265px;
  height: 300.583px;
  background: url(/static/img/3e2e5b07-4558-416c-b8ea-ba12881cfa97.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
}
.group-2 {
  flex-shrink: 0;
  position: relative;
  width: 408.265px;
  height: 300.583px;
  background: url(/static/img/47a6edcb-f279-4ecb-a1e1-907ae9361fa6.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
}
.group-3 {
  flex-shrink: 0;
  position: relative;
  width: 408.265px;
  height: 300.583px;
  background: url(/static/img/d99e76e5-64ae-483b-b36c-7b259db16476.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.flex-row-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1117.994px;
  height: 30px;
  margin: 11.417px 0 0 105px;
  z-index: 33;
}
.orcad-x-capture {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.orcad-x-capture-4 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.orcad-x-capture-5 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.flex-row-ca {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1302px;
  height: 66px;
  margin: 8.002px 0 0 105px;
  z-index: 34;
}
.orcad-capture-schematic {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 408px;
  height: 66px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  z-index: 24;
}
.orcad-capture-schematic-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 408px;
  height: 66px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  z-index: 29;
}
.orcad-capture-schematic-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 408px;
  height: 66px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  z-index: 34;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1302.265px;
  height: 300.583px;
  margin: 37.998px 0 0 105px;
  z-index: 51;
}
.group-8 {
  flex-shrink: 0;
  position: relative;
  width: 408.265px;
  height: 300.583px;
  background: url(/static/img/d566c9d2-a2a1-4480-a7e7-f155cf57bde4.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
}
.group-9 {
  flex-shrink: 0;
  position: relative;
  width: 408.265px;
  height: 300.583px;
  background: url(/static/img/a48021ee-3134-437c-a00c-90ff22e94e60.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.group-a {
  flex-shrink: 0;
  position: relative;
  width: 408.265px;
  height: 300.583px;
  background: url(/static/img/b2ea7579-0657-4eae-9756-ffad944ec50d.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
}
.flex-row-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1117.994px;
  height: 30px;
  margin: 11.417px 0 0 105px;
  z-index: 48;
}
.orcad-x-capture-b {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.orcad-x-capture-c {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.orcad-x-capture-d {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1302px;
  height: 66px;
  margin: 8.002px 0 0 105px;
  z-index: 49;
}
.orcad-capture-schematic-entry {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 408px;
  height: 66px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  z-index: 39;
}
.orcad-capture-schematic-entry-e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 408px;
  height: 66px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  z-index: 44;
}
.orcad-capture-schematic-entry-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 408px;
  height: 66px;
  color: #212b36;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  z-index: 49;
}
.learn-more-button-10 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6px;
  position: relative;
  width: 175px;
  margin: 63.998px 0 0 668px;
  padding: 21px 24px 21px 24px;
  cursor: pointer;
  background: #1d6271;
  border: none;
  z-index: 18;
  overflow: hidden;
  border-radius: 13px;
}
.load-more-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 102px;
  height: 15px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.vector-12 {
  flex-shrink: 0;
  position: relative;
  width: 20.104px;
  height: 12.101px;
  background: url(/static/img/f3e29f94-eb28-40ea-8fa9-54b9b890ba1a.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.flex-row-13 {
  position: relative;
  width: 1196px;
  height: 775px;
  margin: 12px 0 0 51px;
  z-index: 52;
}
.image {
  position: absolute;
  width: 983px;
  height: 149px;
  top: 0;
  left: 213px;
  background: url(/static/img/2dd6a2a3-549e-48c0-a46b-300c77a436bd.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
}
.image-14 {
  position: absolute;
  width: 705px;
  height: 700px;
  top: 75px;
  left: 0;
  z-index: 21;
}
.frame-15 {
  position: absolute;
  width: 1728px;
  height: 810px;
  top: 100px;
  left: -108px;
  background: url(/static/img/a958033817b0f6cf897b4f75c4e2a106c2da64d5.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
  overflow: hidden;
}
.image-16 {
  position: absolute;
  width: 1728px;
  height: 918px;
  top: 2271px;
  left: -108px;
  background: url(/static/img/78c22705133c2308d1714f5341739ff0620ae0f3.png)
    no-repeat center;
  background-size: cover;
}
.frame-17 {
  position: absolute;
  width: 1728px;
  height: 397px;
  top: 3189px;
  left: -108px;
  background: linear-gradient(93deg, #05100C 12.21%, #091611 35.61%, #1D6271 94.97%);
  z-index: 53;
  overflow: hidden;
}
.flex-row-dfoot {
  position: relative;
  width: 1099px;
  height: 49px;
  margin: 68px 0 0 251px;
  z-index: 63;
}
.logoswe-18 {
  position: absolute;
  width: 55px;
  height: 49px;
  top: 0;
  left: 0;
  background: url(/static/img/d88abea443edcbdb1100babf18113dee16353655.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
}
.andak-consulting {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 10px;
  left: 75px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 23px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 60;
}
.quick-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23.122px;
  top: 11px;
  left: 619px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 23.122px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.products {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 12px;
  left: 993px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.flex-row-dd {
  position: absolute;
  width: 691.994px;
  height: 101px;
  top: 112px;
  left: 870px;
  z-index: 68;
}
.digital {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23.122px;
  top: 0;
  left: 305px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 23.122px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.physical {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23.122px;
  top: 0;
  left: 468px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 23.122px;
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}
.home-services-products {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 311px;
  height: 96px;
  top: 5px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-overflow: initial;
  z-index: 66;
  overflow: hidden;
}
.focus-on-hardware {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 570px;
  height: 72px;
  top: 135px;
  left: 251px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 65;
}
.flex-row-dcb {
  position: absolute;
  width: 1398px;
  height: 168px;
  top: 138px;
  left: 251px;
  z-index: 70;
}
.orcad-x-capture-product {
  position: absolute;
  width: 311px;
  height: 168px;
  top: 0;
  left: 924px;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 67;
}
.orcad-x-capture-product-19 {
  position: relative;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.product {
  position: relative;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.orcad-x-capture-product-1a {
  position: absolute;
  width: 311px;
  height: 168px;
  top: 0;
  left: 1087px;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 69;
}
.orcad-x-capture-product-1b {
  position: relative;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.product-1c {
  position: relative;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.linkedin-svgrepo-com {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 119px;
  left: 216px;
  z-index: 55;
  overflow: hidden;
}
.xmlid {
  position: relative;
  width: 44px;
  height: 43.903px;
  margin: 0 0 0 0;
  z-index: 56;
  overflow: visible auto;
}
.xmlid-1d {
  position: relative;
  width: 11.653px;
  height: 11.647px;
  margin: 0 0 0 0;
  background: url(/static/img/a04eb391-2ba3-46a3-88ad-1e9b3f7aba94.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 58;
}
.flex-row-c-1e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 43.301px;
  height: 30.502px;
  margin: 1.754px 0 0 0.7px;
  z-index: 59;
}
.xmlid-1f {
  flex-shrink: 0;
  position: relative;
  width: 10.252px;
  height: 29.796px;
  background: url(/static/img/ce53ee71-b176-4c43-9774-c1f94f390d96.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 57;
}
.xmlid-20 {
  flex-shrink: 0;
  position: relative;
  width: 28.93px;
  height: 30.502px;
  background: url(/static/img/4369f704-9c4e-4e9c-8dbb-3f3c0df1fb96.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 59;
}
.contact-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 190px;
  height: 48px;
  top: 120px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-overflow: initial;
  z-index: 70;
  overflow: hidden;
}
.contact-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23.122px;
  top: 221px;
  left: 251px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.122px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
}
